<div class="formBulider-container dashboard-section" ng-app="">
    <h2 class="section-title">Form Builder Home page</h2>
    <div class="formBulider-section-wrapper clearfix">
        <div class="box">
            <article class="form-field">
                <div class="field-value">
                    <input type="radio" value="new" ng-model="formType" name="formbuilder" class="form-field-radio" />
                </div>
                <div class="field-attribute form-field-radio-label">
                    <h3>Build a New Form</h3>
                </div>
            </article>
            <form class="clearfix" ng-submit="formBuilder.build()" ng-show="formType=='new'">
                <article class="form-field">
                    <div class="field-attribute">
                        <label>Form Title
                            <span class="asterick">*</span>
                        </label>
                    </div>
                    <div class="field-value">
                        <input ng-class="{'illegalValue': errors.formTitle}" type="text" bahmni-autocomplete ng-model="formBuilder.formTitle" source="getConceptSetData">
                        <div ng-show="errors.formTitle" class="is-abnormal">{{errors.formTitle | translate}}</div>
                    </div>
                </article>
                <button type="submit" class="right confirm"  accesskey="b"><u>B</u>uild Your Form</button>
            </form>
        </div>
        <div class="box">
            <article class="form-field">
                <div class="field-value">
                    <input type="radio" value="edit" ng-model="formType" name="formbuilder" class="form-field-radio" />
                </div>
                <div class="field-attribute form-field-radio-label">
                    <h3>Edit an Existing Form</h3>
                </div>
            </article>
            <form class="clearfix" ng-show="formType=='edit'">
                <article class="form-field">
                    <div class="field-attribute">
                        <label>Form Title
                            <span class="asterick">*</span>
                        </label>
                    </div>
                    <div class="field-value">
                        <input type="text" bahmni-autocomplete ng-model="formTitle" source="getConceptSetData">
                    </div>
                </article>
                <button type="submit" class="right confirm" accesskey="b"><u>B</u>uild Your Form</button>
            </form>
        </div>
    </div>
</div>
<a href="#/dashboard">Form Builder panel</a>